name: Tree Sitter

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        parser: ["ampl", "datazinc", "eprime", "minizinc"]

    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
      - name: Install Dependencies
        run: npm ci
      - name: Build the parser
        run: npm run parser:${{matrix.parser}}:build --if-present
      - name: Run parser tests
        run: npm run parser:${{matrix.parser}}:test
      - name: Check if generated file are up-to-date
        run: git diff --exit-code
      - name: Upload artifact
        if: ${{ always() }}
        uses: actions/upload-artifact@v3
        with:
          name: tree-sitter-${{matrix.parser}}
          path: |
            parsers/tree-sitter-${{matrix.parser}}/src
            parsers/tree-sitter-${{matrix.parser}}/bindings/node
